*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.systemtitle{
    margin:auto;
    margin-top:2vh;
    width:60vw;
}
.Meme-form{
    width: 80%;
    height: 50%;
    /*background-color: aqua;*/
    margin: auto;
    margin-top: 10px;
}

.check{
    color:red;
    display: none;
    /* display: block; */
}


.Meme-feed{
    overflow:scroll;
    height:60vh;
    margin:auto;
    width: 20rem;
    overflow-x: hidden;
    /* background-color: black; */
    border-radius: 10px;
}
.card{
    margin:auto;
    margin-top:3rem;
}

.card:hover{
    border:1px solid blue;
    opacity: 0.9;
}


input[type = text],input[type=url]{
    padding: 10px 15px;
    margin: 5px 0;
    box-sizing: border-box;
 }

button{
    
}

button:hover{
    cursor: pointer;
}
#send{
    height:100%;
    width:50%;
    border-radius: 13px;
    outline: none;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: dodgerblue;
    margin-left:20vw;
}


.memetime{
    color: greenyellow;
    margin-left: 1vw;
    /* margin-left: 7vw; */
}

